* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


body {
    background-image: linear-gradient(to bottom, #0E7FE7, #ffffff 28%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;  
}

h2 {
    text-align: center;

    font-weight: 700;
    font-size: 38px;
    line-height: 22px;
    margin-bottom: 60px;
    color: #0E7FE7;
}

label {
    display: block;
    margin-bottom: 10px;


    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.02em;
    

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(169,169,169);
}

.inline {
    display: inline-flex;
}

.save {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


    margin-bottom: 15px;
    margin-left: 18px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.space-save {
    margin-top: 32px;
}