* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


body {
    background-image: linear-gradient(to bottom, #0E7FE7, #ffffff 28%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    padding: 20px;
    width: 400px;
    text-align: center;
}

.signup-container h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 22px;
    margin-bottom: 60px;
    color: #0E7FE7;
}


label {
    display: block;
    margin-bottom: 10px;


    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.02em;
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(169,169,169);
    padding-left: 10px;
}

.label-left {
    display: flex;
    justify-content: flex-start;
}

.signup-container input[type="text"],
.signup-container input[type="password"],
.signup-container input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;


    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #ccc;
}

.signup-container input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    width: Fixed (161px);
    height: Fixed (67px);
    top: 778px;
    left: 649px;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    gap: 10px;
}

.signup-container input[type="submit"]:hover {
    background-color: #0056b3;
}