body {
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(to bottom, #0E7FE7, #0E7FE7, #ffffff 28%);
    margin: 0;
    padding: 0;

    height: 100vh;
}

.container {
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    padding: 0;
}

.container-2 {
    background-color: #ffffff;
    padding: 20px;
}

h2 {
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
}

h1 {

    margin-bottom: 20px;
    color: #007bff;
}

label {
    display: block;
    margin-bottom: 5px;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(169,169,169);
}

input[type="text"],
input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

    background-color: #eee;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    margin-top: 30px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}