{% extends "base.html" %} {% block title %}Add a Book{% endblock %} {% block content %}
    <h1 align="center">Add a Book</h1>
    
    <form method="POST">
        <div class="form-group">
            <label for="book">Book name</label>
            <input
              type="text"
              id="book"
              name="book"
              class="form-control"
            />
            <label for="author">Author</label>
            <input
              type="text"
              id="author"
              name="author"
              class="form-control"
            />
            <label for="status">Status</label>
            <select id="status" name="status" class="form-control">
              <option value="Not Read">Not Read</option>
              <option value="Currently Reading">Currently Reading</option>
              <option value="Dropped">Dropped</option>
              <option value="Finished Reading">Finished Reading</option>
            </select>
            <label for="comment">Comment</label>
            <input
              type="text"
              id="comment"
              name="comment"
              class="form-control"
            />
            
      <br />
      <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Add</button>
      </div>
    </form>

    <br />
    <div align="center">
        <a href="/home">
            <button type="button" class="btn btn-lg btn-secondary">Back</button>
        </a>
    </div>
    {% endblock %}