{% extends "base.html" %} {% block title %}Edit Book{% endblock %} {% block content %}
    <h1 align="center">Edit Book</h1>
    
    <form method="POST">
        <div class="form-group">
            <label for="book">Book name</label>
            <input
              type="text"
              id="book"
              name="book"
              class="form-control"
              value="{{ book.book }}"
            />
            <label for="author">Author</label>
            <input
              type="text"
              id="author"
              name="book_author"
              class="form-control"
              value="{{ book.book_author }}"
            />
            <label for="status">Status</label>
            <select id="status" name="status" class="form-control">
              <option value="Not Read" {% if book.status == 'Not Read' %} selected {% endif %}>Not Read</option>
              <option value="Currently Reading" {% if book.status == 'Currently Reading' %} selected {% endif %}>Currently Reading</option>
              <option value="Dropped" {% if book.status == 'Dropped' %} selected {% endif %}>Dropped</option>
              <option value="Finished Reading" {% if book.status == 'Finished Reading' %} selected {% endif %}>Finished Reading</option>
            </select>
            <label for="comment">Comment</label>
            <input
              type="text"
              id="comment"
              name="comment"
              class="form-control"
              value="{{ book.comment }}"
            />
      <br />
      <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Edit</button>
      </div>
    </form>

    <br />
    <div align="center">
        <a href="/home">
            <button type="button" class="btn btn-lg btn-secondary">Back</button>
        </a>
    </div>
    {% endblock %}